*{
    margin: 0%;
    padding: 0%;
}
html body{

    background-color: rgb(228, 226, 226)
}
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');

:root{
    --fonte1: Georgia, 'Times New Roman', Times, serif;
    --fonte2:"Dancing Script", cursive;
}

header{
    background-color: black;
    color: white;
    text-align: center;
    padding: 40px;
    font-family: var(--fonte1);
}
header p{
    padding: 10px;
}
a{
    text-decoration: none;
    color: white;
}
a:hover{
    text-decoration: underline;
    font-weight: bolder;
}
section p{
    padding: 2em;
    font-size: 20px;
}
section{
    font-family: var(--fonte2);
}
section.imagem{
    background-image: url('imagem/WhatsApp\ Image\ 2024-04-01\ at\ 10.07.47\ PM.jpeg');
    background-size: cover;
    background-position: center, center;
    color: white;
    background-attachment: fixed;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.767);
}
section.imagem > p{
    background-color: rgba(80, 79, 79, 0.322);
    width: 400px;
    padding: 35px;
    text-shadow: 1px 1px 0px rgb(0, 0, 0) ;
}
section.normal{
    width: 400px;
}
h2{
    text-align: center;
    padding: 20px;
    font-family: var(--fonte1);
}
.amor{
    align-items: center;
    display: flex;
    justify-content: center;
    background-image: url('imagem/mini-coracao-e-linha-de-fundo_62907-28.avif');
    background-attachment: fixed;
    padding: 15px;
    background-size: cover;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.767);
   
}
footer{
    text-align: center;
    background-color: black;
    color: white;
    padding: 15px;
    font-family: var(--fonte1);

}